@import "./fonts.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
}

body {
    width: 1440px;
    background: #0e1014;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0 auto;
}

@import "./components/all";
